<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design two</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="top-1">
    <div class="left">
        <hi>florence</hi>
    </div>
    <div class="right">
        <button>city</button>
        <button>town</button>
        <button>street</button>
        <button>aveue</button>
        <img src="../static/images/th-3.jpeg" alt="ot found">
    </div>
</div>
<div class="bottom">
    <div class="left">
        <hi>MAKE HTML & CSS WEBSITE</hi>
        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque dolorem, earum enim, esse laborum maiores nam, pariatur perferendis quae reprehenderit temporibus voluptate voluptatum?
            Aliquid maxime possimus quasi sit vero?</P>
        <button>sign up</button>
        <button>sig in</button>
    </div>
    <div class="right"></div>
</div>
</body>
</html>