<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logo</title>
  <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body{
            background-color: rgba(0,1,0,0.96);
        }
    </style>
</head>
<body>
<div class="top">
    <img src=" ../static/images/th-2.jpeg" alt="not found">
</div>
<br><br>
<div class="bottom">
    <div class="far-left">
        <img src=" ../static/images/th-3.jpeg" alt="not found">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda blanditiis commodi consequuntur,
            est excepturi facilis harum illum libero maxime molestias nisi quas quibusdam ratione repellendus reprehenderit ullam vel voluptates.</p>
    </div>
    <div class="mid-left">
        <img src="../static/images/th-6.jpeg" alt="not found">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium delectus eaque, eius eveniet necessitatibus,
            neque non nostrum nulla officia praesentium quia quibusdam quo reprehenderit repudiandae soluta temporibus veritatis voluptas voluptatem!</p>
    </div>
    <div class="mid-right">
        <img src="../static/images/th-4.jpeg" alt="not found">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis et iure maiores modi nemo omnis praesentium
            quam ut vero vitae! Ab blanditiis culpa cumque, error maxime nobis optio repellat sint.</p>
    </div>
    <div class="far-right">
        <img src="../static/images/th-5.jpeg" alt="not found">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor ea facilis ipsam maiores, nam necessitatibus
            nemo pariatur perferendis perspiciatis quibusdam sunt unde voluptas! Animi necessitatibus quas quod repellat soluta!</p>
    </div>
</div>
</body>
</html>