<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="top">
    <h1>cities</h1>
</div>
<div class="mid">
    <div class="mid-left">
        <ol>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ol>
    </div>

    <div class="mid-right">
        <h1>London</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa doloribus ducimus provident quae quam, quasi rerum sequi.
        Aspernatur eaque earum, exercitationem explicabo hic illo molestiae omnis quam quia ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolor eos eum eveniet impedit iste, laborum molestiae odio officiis pariatur possimus quos repudiandae voluptates?
        Earum esse et molestiae nihil omnis?</p>
    </div>

</div>
<div class="footer">
    <h5>Footer</h5>
</div>
</body>
</html>